<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Figma htmlGenerator">
    <meta name="author" content="htmlGenerator">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Html Generated</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
    <script src="js/vue.global.js"></script>

</head>

<body>
    <div id="mp3">


        <div class="s-layout">

            <div class="s-layout__sidebar">
                <a class="s-sidebar__trigger" href="#0">
                    <i class="fas fa-bars"></i>
                </a>

                <nav class="s-sidebar__nav">

                    <ul>
                        <li>
                            <a class="s-sidebar__nav-link" href="#0" data-bs-toggle="modal" data-bs-target="#upload">
                                <i class="fa fa-upload"></i><em>Upload Music</em>
                            </a>
                        </li>
                        <li>
                            <a @click="displaysong" class="s-sidebar__nav-link" href="#0">
                                <i class="fa fa-user"></i><em>All Songs</em>
                            </a>
                        </li>
                        <li>
                            <a @click="create=''" class="s-sidebar__nav-link" href="#0" data-bs-toggle="modal" data-bs-target="#create-playlist">
                                <i class="fa fa-list"></i><em>Create Playlist</em>
                            </a>
                        </li>
                        <li v-for="(musicplaylist, index) in playlists">
                            <a @click="displayplaylistsong(index)" class="s-sidebar__nav-link" href="#0">
                                <em>{{musicplaylist.playlist}}</em>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>


            <main class="s-layout__content">
                <div class="header">
                    <div class="w-100">
                        <img src="images/logo1.png" class="img-fluid">
                    </div>

                    <div id="backpic">
                        <div class="col-6 ">
                            <div class="input-group p-5 d-flex justify-content-end">
                                <input type="text" class="form-control" placeholder="Search Song" aria-label="Recipient's username" aria-describedby="basic-addon2">
                                <span class="input-group-text" id="basic-addon2"><i class="fas fa-search"></i></span>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="table-container m-2">
                    <div>
                        <div v-if="p_index!=null" class="dropdown d-inline-block">
                            <i class="fas fa-ellipsis-v fa-2x" id="dropdownMenuButton1" data-bs-toggle="dropdown"></i>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a @click="displayavailablesongs" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#addsong-playlist">Add Song</a></li>
                                <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#edit-playlist">Edit Playlist name</a></li>
                                <li><a @click="deleteplaylist" class="dropdown-item" href="#">Delete Playlist</a></li>
                            </ul>
                        </div>
                        <h1 class="ms-3 allsongs d-inline-block">{{header}}</h1>
                    </div>
                    <table class="center">
                        <tr class="th">
                            <th></th>
                            <th>
                                <h1>Title</h1>
                            </th>
                            <th>
                                <h1>Artist</h1>
                            </th>
                            <th>
                                <h1>Album</h1>
                            </th>
                            <th>
                                <h1>Duration</h1>
                            </th>
                            <th></th>
                        </tr>
                        <tr v-if="music.length==0"><td colspan="6" class="text-center">Empty</td></tr>
                        <tr v-for="(songs, index) in music">
                            <td class="text-center"><i class="fas fa-play"></i></td>
                            <td>{{songs.title}}</td>
                            <td>{{songs.artist}}</td>
                            <td>{{songs.album}}</td>
                            <td>{{songs.duration}}</td>
                            <td><button @click="deletesong(index)" class="btn btn-sm btn-danger"><i class="fas fa-trash"></i></button></td>
                        </tr>
                    </table>
                </div>
                <div class="player mb-5">

                    <div class="playing position-relative d-flex align-items-center">
                        <div class="line">

                        </div>
                        <div class="line-circle"></div>

                    </div>
                    <div class="control-player d-flex justify-content-center">
                        <i class="fas fa-backward"></i>
                        <i class="fas fa-play"></i>
                        <i class="fas fa-forward"></i>
                    </div>
                </div>

            </main>
        </div>

        <div id="upload" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Upload Song</h5>
                    </div>
                    <div class="modal-body">
                        <div class="drag-drop d-flex align-items-center justify-content-center " @drop="drop" @dragover="drag">
                            <span  v-if="musiclist.length == 0"> Drag and Drop files here</span>
                            <span v-if="musiclist.length >= 1">{{musiclist[0].name}} </span>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" @click="addmusic" class="positive">Upload</button>
                        <button type="button" class="cancel" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
            <audio preload="metadata" id="audio"></audio>
        <div id="create-playlist" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Create Playlist</h5>
                    </div>
                    <div class="modal-body">
                        <input v-model="create" type="text" class="create-playlist">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="positive" @click="upload"> Create</button>
                        <button type="button" class="cancel" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="edit-playlist" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Edit Playlist</h5>
                    </div>
                    <div class="modal-body">
                        <input v-model="create" type="text" class="create-playlist">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="positive" data-bs-dismiss="modal" @click="editplaylist">Save changes</button>
                        <button type="button" class="cancel" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="addsong-playlist" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Add Music</h5>
                    </div>
                    <div class="modal-body">
                        <table class="center">
                            <tr class="th">
                                <th>
                                    <h1>Title</h1>
                                </th>
                                <th></th>
                            </tr>
                            <tr v-if="availablesongs.length==0"><td colspan="6" class="text-center">Empty</td></tr>
                            <tr v-for="(songs, index) in availablesongs">
                                <td>{{songs.title}}</td>
                                <td><button @click="addsongtoplaylist(index)" class="btn btn-warning btn-sm">Add</button></td>
                            </tr>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="cancel" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/jsfile.js"></script>
    <script src="js/jsmediatags.min.js"></script>
    


</body>

</html>
