.bg-green {
    background: rgba(114.77179259061813, 156.18750303983688, 100.22032141685486, 1) !important;
}

nav a span {
    color: white !important;
    font-family: Nova Oval;
    text-align: left;
    font-size: 24px;
    letter-spacing: 0;
}

nav li a {
    font-family: Oldenburg;
    text-align: center;
    font-size: 14px;
    letter-spacing: 0;
    color: white !important;
    padding-right: 20px !important;
    padding-left: 20px !important;
}

.bg-front {
    background: url('images/bg1.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 706px;
    width: 100%;
}

.ils {
    height: 55%;
}

.bg-front h1 {
    color: rgba(0, 0, 0, 1);
    font-family: Oleo Script;
    text-align: center;
    font-size: 64px;
    letter-spacing: 0;
}

.bg-front p {
    color: rgba(0, 0, 0, 1);
    font-family: Oldenburg;
    text-align: center;
    font-size: 24px;
    letter-spacing: 0;
}

.bg-front button {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: white;
    width: 114px;
    height: 34px;
    font-family: Oldenburg;
    text-align: center;
    font-size: 13px;
    letter-spacing: 0;
    border: none;
    border-radius: 5px;
    background: green;
}

.wtg {
    width: 70%;
    margin: auto;
    margin-top: 60px;
}

.wtg p {
    color: black;
    font-family: Oldenburg;
    text-align: left;
    font-size: 18px;
    letter-spacing: 0;
}

.wtg-bg {
    background: rgba(0, 0, 0, 0.3);
    padding: 20px 40px;
    border-radius: 32px;
}

.wtg-bg select {
    width: 20%;
    padding: 10px;
    border: black 2px solid;
    background: rgba(0, 0, 0, 0);
    font-weight: bold;
}

.wtg-bg input {
    width: 20%;
    padding: 10px;
    border: none;
    border-radius: 20px;
}

.sec2 img {
    width: 100%;
}

.sec3 p {
    padding: 20px;
    text-align: left;
    font-size: 24px;
    letter-spacing: 0;
}

.sec4 img {
    width: 100%;
}

.sec4 p {
    font-family: Offside;
    text-align: center;
    font-size: 24px;
    letter-spacing: 0;
}

.sec4 .more {
    width: 100px;
    font-family: Offside;
    text-align: center;
    font-size: 16px;
    letter-spacing: 0;
    padding: 10px;
    background: rgba(167.59167909622192, 97.18334197998047, 238.00000101327896, 1);
    border-radius: 10px;
    margin: auto;
}

.sec4 .more:hover {
    cursor: pointer;
    color: white;
}

.sec5 {
    margin-top: 60px !important;
}

.sec5 h1 {
    font-family: Oldenburg;
    text-align: left;
    font-size: 30px;
    letter-spacing: 0;
}

.sec5 img {
    width: 100%;
}

.sec6 {
    padding: 50px;
    background: rgba(146.58072173595428, 228.43747973442078, 164.5892170071602, 1);
}

.sec6 p {
    font-family: OdorMeanChey;
    text-align: left;
    font-size: 14px;
    letter-spacing: 0;
}
.sec6 input {
    width: 100%;
    background: rgba(105.05468040704727, 199.6038669347763, 240.12499898672104, 1);
    border: none;
    padding: 10px;
}
.sec6 .b{
    background-color: rgba(134.72499310970306, 82.3437550663948, 159.375, 1);
    width: 100%;
    padding: 10px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    text-align: center;
}




@media screen and (max-width: 776px) {
  .wtg {
    width: 98%;

}
}
